<h1>Edit {{showLeague.title}}</h1>

<form action="/league/{{showLeague._id}}?_method=PUT" method="POST">
  <div>
    <label for="title">League Name</label>
    <input type="text" name="leaguename"/>
  </div>

  <div>
    <label for="description">Location</label>
    <input type="text" name="leaguelocation"/>
  </div>

  <div>
    <label for="subject">Sport</label>
    <input type="text" name="leaguesport"/>
  </div>

  <div>
    <label for="createdBy">Adult League?</label>
    <input type="text" name="leagueadult"/>
  </div>

  <div>
    <label for="dueDate">Number of Divisions</label>
    <input type="text" name="leaguenumofdivisions" />
  </div>

  <button type="submit">Update</button>
</form>