<h1>Create New League</h1>

<form action="/league" method="POST">

  <div>
    <label for="name">League Name</label>
    <input type="text" name="name"/>
  </div>

  <div>
    <label for="location">Location</label>
    <input type="text" name="location"/>
  </div>

  <div>
    <label for="sport">Sport</label>
    <input type="text" name="sport"/>
  </div>

  <div>
    <label for="adult">Adult League?</label>
    <input type="text" name="adult"/>
  </div>

  <div>
    <label for="numOfDivisions">Number of Divisions</label>
    <input type="text" name="numOfDivisions" />
  </div>

  <button type="reset"> Reset</button>
  <button type="submit">Save New League</button>
  
</form>