<h1>Create New League</h1>
<div class="formparentdiv" >
<form   class="formdiv" action="/league" method="POST">

  <div>
    <label for="name">League Name:</label>
    <input type="text" name="name"/>
  </div>

  <div>
    <label for="location">Location:</label>
    <input type="text" name="location"/>
  </div>

  <div>
    <label for="sport">Sport:</label>
    <input type="text" name="sport"/>
  </div>

  <div>
    <label for="adult">Adult League?</label>
    <input type="text" name="adult"/>
  </div>

  <div>
    <label for="numOfDivisions">Number of Divisions:</label>
    <input type="text" name="numOfDivisions" />
  </div>

  <button class="newbttn" type="reset"> Reset</button>
  <button class="newbttn" type="submit">Save New League</button>
  
</form>
</div>