<h1>Create New Team</h1>

<div class="formparentdiv">
  <form action="/league/{{leagueId}}/team" method="POST">
    <div>
      <label for="name">Name</label>
      <input type="text" name="name" />
    </div>
    <div>
      <label for="logourl">Logo URL</label>
      <input type="text" name="logourl" />
    </div>
    <div>
      <label for="manager">Manager</label>
      <input type="text" name="manager" />
    </div>
    <div>
      <label for="numOfPlayers">Number of Players</label>
      <input type="text" name="numOfPlayers" />
    </div>
    <div>
      <label for="division">Division</label>
      <input type="text" name="division" />
    </div>
    <div>
      <button type="submit">New Team</button>
    </div>
  </form>
</div>