body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color:inherit;
  text-decoration: none;
}

a:hover{
  color:inherit;
  text-decoration: none;


}

#carouselExampleIndicators{
  box-shadow: 0 0 20px #888888;
  height: 70%;
  width: 70%;
  margin: 40px;
}

h1{
  text-align: center;
}

nav{
  box-shadow: 0 0 20px #888888;
}

.leagueindexcontainer{
 height: 100%;
 width: 1350px;
 display: flex;
flex-wrap: wrap;
justify-content: space-between;
}

.leaguediv{
  border: solid;
}

.leaguelist{
  /* background: blue; */
  border: solid;
  text-align: center;
  margin: 10px;
  height: 250px;
  width: 300px;
  box-shadow: 0 0 5px;
  padding: 25px;
}

/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  transform: scale(1.1);
}

.formparentdiv{
  display: flex;
  justify-content: center;
  background: red;
  height: 100%;
  width: 100%
}

.formdiv{
  text-align: center;
  background: green;
  height: 100%;
  width: 250px;
  padding: 20px;
}

.newbttn{
  margin-top: 20px;
}